<div class="row align-items-center mainrow">
    <div class="col-lg-12 maintext">
        About
    </div>
    <div class="col-lg-12 subtext">
        Newly graduated from the University of Toronto, obtaining a Software Engineering bachelor degree in Computer Science. Proficient with a variety of languages such as Java, Python and Javascript as well as tools such as eclipse and git. Has a firm understanding of data structures, algorithms and design patterns, and have developed software in a team using agile methodology. Currently Residing in Toronto, Ontario.
    </div>
</div>

<div class="row align-items-center mainrow">
    <div class="col-lg-12 maintext">
        Interests
    </div>
    <div class="col-lg-12 subtext">
        Programming: Have interest in writing various programs and apps as well as learning new technologies.
    </div>
    <div class="col-lg-12 subtext">
        Writing: Enjoys reading and analyzing different types of stories, as well as writing them.
    </div>
    <div class="col-lg-12 subtext">
        Art: Draws as a hobby. Currently trying to improve by studying the art of others as well as learning to do digital art.
    </div>
    <div class="col-lg-12 subtext">
        Music: Enjoys listening to and used to play music. Plans on learning to use music creation software in order to make complicated pieces.
    </div>
</div>