<div class="navbar navbar-inverse navextra navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  <div class="navbar-left">
    <ul class="nav navbar-nav">
      <li class="nav-item"><a>Tiantong Xu</a></li>
    </ul>
  </div>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a>About</a></li>
        <li class="nav-item"><a>Résumé</a></li>
        <li class="nav-item"><a>Contact</a></li>
        <li class="nav-item"><a>Credits</a></li>
        <li class="nav-item"><a>Admin</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->            
  </div>
</div>
<div class="col-xl-11 innerbody">
  <div class="row align-items-center mainrow">
    <div class="col-lg-4 maintext circleimg"></div>
    <div class="col-lg-8 maintext">
      <div>Computer Engineer</div>
      <div class="subtext">Recent Computer Science graduate of the University of Toronto and currently seeking a position in software development.</div>
    </div>
  </div>

  <div class="error" id="error">    
  </div>
  <div class="container" id="container">
  </div>
</div>
<!-- <nav class="navbar navbar-default navbar-collapse navbar-expand-md navbar-dark navbar-static-top navextra fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span>Tiantong Xu</span>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <ul class=" nav navbar-nav navbar-left">
        <li>
          <a>Tiantong Xu</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right ml-auto">
        <li class="nav-item"><a href="#">About</a></li>
        <li class="nav-item"><a href="#">Résumé</a></li>
        <li class="nav-item"><a href="#">Contact</a></li>
        <li class="nav-item"><a href="#">Credits</a></li>
        <li class="nav-item"><a href="#">Admin</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- <nav class="navbar navbar-collapse navbar-expand-md navbar-dark navbar-static-top navextra fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-brand">
            <span class="navbar-text">TIANTONG XU</span>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item about" id="about">
                <a class="nav-link">About</a>
            </li>
            <li class="nav-item resume" id="resume">
                <a class="nav-link">Résumé</a>
            </li>
            <li class="nav-item contact" id="contact">
                <a class="nav-link">Contact</a>
            </li>
            <li class="nav-item credits" id="credits">
                <a class="nav-link">Credits</a>
            </li>
            <li class="nav-item admin" id="admin">
                <a class="nav-link">Admin</a>
            </li>
        </ul>
    </div>
  </div>
</nav> -->
