/* You can add global styles to this file, and also import other style files */
html {
    overflow: -moz-scrollbars-vertical;
    background-color: #16181d;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
}

body {
    background-color: #31353a;
	font-family: Arial, Helvetica, sans-serif;
    width: 80%;
	font-size: 14px;
    text-align: left;
    margin: auto;
    border: 2px solid black;
}

.innerbody {
    max-width: 90%;
    margin: auto;
    margin-top: 35px;
}

.navextra {
    background-color: #202223;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 2px solid black;
}

.active, .nav-link:hover {
	cursor: pointer;
    background-color: #31353a;
}

.circleimg {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    min-height: 300px;
    min-height: 300px;
    background-size: 300px 300px;
    background-image: url('./img/Tiantong.png');
    border: 2px solid white;
    background-position: 32% center;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.mainrow {
    padding-top: 30px;
    padding-bottom: 10px;
}

.maintext {
    padding-left: 30px;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}

.subtext {
    padding-left: 30px;
    padding-bottom:20px;
    font-size: 20px;
    color: #cccccc;
    font-weight: normal;
}

.adminpage {
    padding-top: 10px;
    text-align: center;
}

.signin_form {
    width: 30%;
    margin: auto;
}

.error {
    height: 30px;
    width: 100%;
    text-align: center;
}

.resume_btn {
    background: none;
    width: 64px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:64%;
    text-align:center;
    padding: 0;
    border: none;
}

.check_btn {
    background-image: url('/img/check.png');
}

.cross_btn {
    background-image: url('/img/cross.png');
}

.experience_head {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}

.experience_body {
    padding-bottom: 20px;
}

.add_btn {
    background-image: url('/img/add.png');
}

.footertext {
    font-size: 10px;
    color: gray;
    text-align: right;
    padding: 10px;
}

@media (min-width: 700px){
    .navbar li {
        font-weight: bold;
        font-size: 15px;
        margin-left : 1em;
        margin-right : 1em;
    }
}